@font-face {
    font-family: 'System Font';
    src: url('assets/fonts/system-font-from-windows-3-1.otf.woff2');
}

@font-face {
    font-family: 'Icon Font';
    src: url('assets/fonts/w95fa.woff2');
}

html {
  box-sizing: border-box;
  font-size: 14px;
  cursor: default;
  user-select: none;
}

img {
    pointer-events: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #c3c7cb;
    font-family: 'System Font';
}

a {
    color: #0000FF;
    text-decoration: none;
}

h1 {
    font-size: 20px;
    margin: 20px 0;
}

.title {
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.banner-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.body-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1500px;
    height: auto;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.horizontally-seperated-windows-panel-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 16px 0 0 0;
    gap: 0 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%; 
}

.sidebar .windows-panel {
    width: 100%;
    margin: 0 0 5px 0;
}

.bottom-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.icon-hitbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 60px;
    height: auto;
    margin: 10px 4px;
    cursor: default;
}

.icon-image {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.icon-label {
    font-size: 12px;
    text-align: center;
    font-family: 'Icon Font';
    color: #000;
}

.icon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    justify-content: center;
    align-items: start;
    width: 100%;
    height: auto;
}

.centered-flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.main-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.main-panel .windows-panel {
    width: 100%;
    padding:  0 20px 20px 20px;
    height: auto;
}

.windows-title {
    color: white;
    width: calc(100% + 40px);
    display: flex;
    text-align: center;
    font-family: 'System Font';
    font-size: 14px;
    position: absolute;
    top: -1.4em;
    justify-content: center;
}
.windows-panel {
	border-image: url('assets/ui/border.png');
    border-image-slice: 24 fill;
    border-width: 24px;
    border-style: solid;
    image-rendering: pixelated;
	height: auto;
	display: flex;
    position: relative;
    flex-direction: column;
	align-items: center;
    justify-content: center;
}

.gray {
    border-image: url('assets/ui/border_gray.png');
    border-image-slice: 24 fill;
    border-width: 24px;
    border-style: solid;
    font-family: 'Icon Font';
    font-size: 16px ;
}

.windows-content {
    text-align: left;
    justify-content: center;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    margin: -1px -20px -23px -20px;
}